<% provide(:title, "Login") %>
<% provide(:button_text, "Login") %>
<div class = "container">
  <div class="col-md-12 col-md-offset-4">
    <div class = "rows col-sm-4">
      <div class="jumbotron">
        <h2 class="h2 mb-3 font-weight-normal">Login</h2>
        <%= render "form" %>
      </div>
    </div>
    <!--
    <div class = "rows col-sm-4">
        <div class="container">

          <div class="col-md-8">
            <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
              <div class="carousel-inner">
                <div class="carousel-item active">

                  <%= image_tag("slider_image.jpg")  %>
                  <div class="carousel-caption d-none d-md-block">
                    <h1><%= link_to "Go to Static Page" , root_url ,class: "text-muted"%></h1>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>
     -->

  </div>
</div>


